@{
    ViewData["Title"] = "Change Password";
}
@model ChangePasswordModel
<link rel="stylesheet" href="~/css/profile.css" />
<div class="responsive-account-container">
    <form class="change-password-form" method="post" >
        <h1>Change your password</h1>
        <ul class="simpleForm structural ui-grid">
            <li class="nfFormSpace">
                <div class="nfInput">
                    <div class="nfInputPlacement"><label class="input_id" placeholder="currentPassword"><input type="password" name="password" class="nfTextField" id="id_currentPassword" value="" tabindex="0" autocomplete="off" dir="" placeholder=""><label for="id_currentPassword" class="placeLabel">Current Password</label></label></div>
                    <div id="" class="inputCaption" data-uia=""><a data-ui="action_forgot_password" href="/loginhelp">Forgot password?</a></div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </li>
            <li class="nfFormSpace">
                <div class="nfInput">
                    <div class="nfInputPlacement"><label class="input_id" placeholder="newPassword"><input type="password" data-uia="field-newPassword" name="newPassword" class="nfTextField" id="id_newPassword" value="" tabindex="0" autocomplete="off" dir="" placeholder=""><label for="id_newPassword" class="placeLabel">New password</label></label></div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </li>
            <li class="nfFormSpace">
                <div class="nfInput">
                    <div class="nfInputPlacement"><label class="input_id" placeholder="confirmNewPassword"><input type="password" data-uia="field-confirmNewPassword" name="confirmNewPassword" class="nfTextField" id="id_confirmNewPassword" value="" tabindex="0" autocomplete="off" dir="" placeholder=""><label for="id_confirmNewPassword" class="placeLabel">Re-enter new password</label></label></div>
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
            </li>
        </ul>
        <div class="nf-btn-bar change-password-buttons"><button id="btn-save" type="submit" autocomplete="off" tabindex="0" class="nf-btn nf-btn-primary nf-btn-retro nf-btn-small" placeholder="">Save</button><button id="btn-cancel" type="button" autocomplete="off" tabindex="0" class="nf-btn nf-btn-secondary nf-btn-retro nf-btn-small" placeholder="">Cancel</button></div>
    </form>
</div>
<script src="~/js/account.js"></script>