@if ((bool)ViewData["completed"])
{
      <div class="alert alert-success" role="alert">
        @ViewData["message"]
      </div>
} else
{
    <div class="alert alert-danger" role="alert">
        @ViewData["message"]
    </div>
}