@{
    Layout = "_LoginLayout";
}
@model RegisterViewModel
<style>
    main{
        height: 60vh;
    }
</style>
<div class="login-panel">
    <form asp-controller="Register" asp-action="Index" method="post">
        @Html.AntiForgeryToken()
        <div class="item-container flex flex-column">
            <div class="title text-primary">
                <span>Book Stores Register</span>
            </div>
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="input-fields">
                <div class="input-parent">

                    <div class="flex flex-row">
                        <label asp-for="EmailAddress">EmailAddress</label>
                        <input asp-for="EmailAddress" type="text" placeholder="Email address" />
                    </div>
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>

            </div>
            <div class="input-fields">
                <div class="input-parent">

                    <div class="flex flex-row">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" placeholder="Password" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

            </div>            
            <div class="input-fields">
                <div class="input-parent">

                    <div class="flex flex-row">
                        <label asp-for="ConfirmPassword">ConfirmPassword</label>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm password" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

            </div>
            <div class="action">
                <div class="btn-action">
                    <div class="flex-1">
                    </div>
                    <a class="text-primary sign-up-btn" href="/Login/" style="margin-right: 10px;">Login</a>
                </div>
                <div class="btn-action">
                    <button class="btn-primary login-btn" type="submit" style="margin-left: 10px;">Sign up</button>
                </div>

            </div>
        </div>
    </form>

</div>