.sub-container {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333;
    display: block;
    font-size: 1em;
    margin: 0 auto;
    min-height: 400px;
    min-width: 300px;
    overflow-wrap: anywhere;
    position: relative;
    width: 90%;
    font-size: 1em;
    max-width: 1024px;
    width: 95%;
}

.account-header-inline {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.15em;
    margin: 0 0 .55em;
}

.responsive-account-content {
    font-size: 1em;
}

.account-section {
    background: #fff;
    margin-bottom: 5px;
    position: relative;
    background-color: inherit;
    border: none;
    border-top: 1px solid #999;
    min-height: 4.5em;
    padding: 0;
    padding-bottom: 10px;
}

.account-section-header {
    left: 0;
    padding-right: 10px;
    position: absolute;
    width: 270px;
    z-index: 2;
    box-sizing: border-box;
    display: block;
}

h2.account-section-heading {
    color: #737373;
    font-size: 1.14em;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.125em;
}

.account-section-content {
    position: relative;
    margin-top: 15px;
    padding-left: 270px;
}

.account-subsection {
    position: relative;
}

.account-section-group {
    background-color: inherit;
    float: left;
    width: 50%;
}

.account-section-email {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.account-section-item-disabled {
    color: #737373;
    margin-bottom: 10px;
}

.account-section-group + .account-section-group {
    float: right;
    text-align: right;
}

.account-section-item {
    margin-bottom: 10px;
}

.account-section-link {
    padding: 15px 0 5px;
    width: 100%;
    border-top: none;
    color: #0073e6 !important;
    display: inline;
    padding-right: 0;
    text-decoration: none;
    padding-top: 5px;
}

.btn {
    background-color: #e6e6e6;
    background-image: linear-gradient(180deg,#e6e6e6,#ddd);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.btn-red {
    background-color: #e50914;
    background-image: linear-gradient(180deg,#e50914,#db0510);
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
    color: #fff;
}

.btn {
    font-size: 1em;
    margin: .5em .5em .5em 0;
    min-height: 50px;
    min-width: 74px;
    padding: 24.5px 2em;
    position: relative;
}

.btn.btn-small {
    display: inline-block;
    font-size: 13px;
    line-height: 1em;
    margin-right: .5em;
    min-height: 37px;
    min-width: 98px;
    padding: 12px 1em;
    width: auto;
}

.btn.account-button-upgrade {
    font-size: 13px;
}
.btn:hover {
    color: #fff;
}



/*//change password*/
.responsive-account-container {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333;
    display: block;
    /* font-size: 1em; */
    margin: 0 auto;
    min-height: 400px;
    min-width: 300px;
    overflow-wrap: anywhere;
    position: relative;
    /* width: 90%; */
    font-size: 1em;
    max-width: 1024px;
    width: 95%;
}

.change-password-form h1 {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 32px;
}

ul.structural {
    margin: 0;
    padding: 0;
}

.nfFormSpace {
    margin-bottom: 10px;
}

.nfFormSpace {
    margin-bottom: 5%;
}

    .nfFormSpace:first-child {
        margin-bottom: 4%;
    }

ul.structural > li {
    list-style: none;
    margin-left: 0;
}

.nfInput {
    max-width: 500px;
}

    .nfInput, .nfInput .nfInputPlacement {
        position: relative;
    }

.nfTextField {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    height: 44px;
    padding: 10px 11px;
    width: 100%;
}

    .nfTextField:invalid, .nfTextField:valid {
        box-shadow: none;
    }

.nfInput .nfTextField {
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
}

.change-password-form .nfTextField, .change-password-form .ui-binary-input input[type=checkbox] + label:before {
    border-radius: 4px;
}

.nfInput .placeLabel {
    color: #8c8c8c;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease,top .1s ease,transform .1s ease;
/*    font-size: 11px;
    top: 4px;*/
}

.nfInput .inputCaption {
    color: #8c8c8c;
    font-size: 13px;
}

.nfFormSpace {
    margin-bottom: 5%;
}

.nfInput .hasText + .placeLabel, .nfInput .nfTextField:focus + .placeLabel {
    font-size: 11px;
    top: 4px;
    transform: translateY(0);
}

.change-password-buttons {
    margin-top: 2.25em;
}

.nf-btn {
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .025rem;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    font: inherit;
}

.nf-btn-retro {
    box-sizing: border-box;
    display: inline-block;
}

.nf-btn {
    font-size: 1rem;
    min-height: 48px;
    min-width: 74px;
    padding: .75rem 1.33333333rem;
    position: relative;
    width: 100%;
}

.nf-btn-retro.nf-btn-primary {
    background-color: #0071eb;
    color: #fff;
    cursor: pointer;
    padding: 13px 2rem;
    text-decoration: none;
}

.nf-btn.nf-btn-small {
    display: block;
    line-height: 50px;
    padding: 0;
    display: inline-block;
    font-size: 13px;
    line-height: 1rem;
    margin-right: .5rem;
    min-height: 37px;
    min-width: 98px;
    padding: .75rem 1rem;
    width: auto;
    margin: 0 10px 0 0;
    font-weight: 500;
}
.nfInputPlacement .input_id {
    width: 100%;
}