:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #141414;
    --bg-white: #fafafa;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: var(--bg-white);
}
.flex {
    display: flex;
}

.flex-colunm {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}
.popular-movies {
    margin-top: 30px;
}
.po-title-bar h2 {
    font-size: 25px;
}
.popular-movies-item {
    overflow-y: scroll;
    white-space: nowrap;
}
.movie-items {
    background: #80808045;
    width: 20%;
    min-width: 100px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.movie-items img {
    width: 100%;
    transition: all .5s ease-in-out;
}
.img-container {
    position: relative;
    overflow: hidden;
}
.movie-items:hover img {
    transform: scale(1.1);
}
.po-title-bar.flex.flex-row {
    margin-bottom: 20px;
}
footer#footer {
    /* max-width: 1320px; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.social-links {
    display: flex;
    /* padding-left: 10%; */
}
footer .col-md-3 {
    color: black;
    padding-left: 0;
}
a.social-link {
    color: black;
    margin-right: 10px;
}
.text-muted{
    text-decoration: none;
}
.search-input {
    height: 40px;
    line-height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #00000024;
}
.search-input-icon {
    position: absolute;
    top: 12px;
    right: 20px;
}
.movie-items-empty{
    aspect-ratio: 16/9;
}
.movie-items {
    aspect-ratio: 16/9;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.movie-items:hover .overlay {
    background: linear-gradient(to bottom, #ffffff00 0%, #ffffffa1 100%);
}
div#liveAlertPlaceholder {
    position: fixed;
    width: 250px;
    height: 50px;
    top: 100px;
    right: 20px;
    z-index: 1055;
}
.displayed-message {
    position: relative;
    right: -300px;
    transition: right 0.5s;
}
.akira-header .account-menu-item, .pinning-header .account-menu-item {
    display: block;
    font-size: 12px;
    position: relative;
    z-index: 0;
}

.akira-header .account-dropdown-button, .pinning-header .account-dropdown-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    width: 100%;
}

.profile-link {
    align-items: center;
    display: flex;
    position: relative;
}

.avatar-wrapper {
    position: relative;
    display: inline;
}

img.profile-icon {
    border-radius: 4px;
    height: 32px;
    vertical-align: middle;
    width: 32px;
}

.sub-menu.theme-lakira {
    background-color: rgba(0,0,0,.9);
    border: 1px solid hsla(0,0%,100%,.15);
    box-sizing: border-box;
    color: #fff;
    cursor: default;
    font-size: 13px;
    line-height: 21px;
    opacity: 0;
    position: absolute;
    top: 71px;
}

.account-drop-down {
    margin-left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 52px;
    width: 220px;
    background-color: rgba(0,0,0,.9);
    border: 1px solid hsla(0,0%,100%,.15);
    box-sizing: border-box;
    color: #fff;
    cursor: default;
    font-size: 13px;
    line-height: 21px;
}

.account-links {
    padding-bottom: 10px;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 10px;
}

.sub-menu-item {
    cursor: default;
    display: block;
    line-height: 24px;
    display: block;
    font-size: 13px;
    /* line-height: 16px; */
    padding: 5px 10px;
}

a.sub-menu-link-icon {
    text-transform: none;
    width: 100%;
    align-items: center;
    display: flex;
    color: #fff!important;
    text-decoration: none;
}

.nav-item a.sub-menu-link-icon svg {
    color: #b3b3b3;
    margin: 0 13px 0 5px;
}

.sub-menu-list {
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sign-out-links {
    border-top: 1px solid hsla(0,0%,100%,.25);
    padding: 10px 0;
    cursor: default;
}

    .sign-out-links a {
        color: #fff!important;
        text-decoration: none;
        text-align: center;
        width: 100%;
        display: block;
    }
.account-dropdown-button.dropdown-toggle {
    display: flex;
    align-items: center;
}